[user]
	name = Kamil Kras
	email = 38427679+xVemu@users.noreply.github.com
[core]
	autocrlf = true
[commit]
	gpgsign = true
[push]
	followTags = true
[gpg]
	program = "C:/Program Files/Git/usr/bin/gpg.exe"
