[user]
	name = Kamil Kras
	email = 38427679+xVemu@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519
[core]
	autocrlf = input
	filemode = false
[commit]
	gpgsign = true
[push]
	followTags = true
	autoSetupRemote = true
[pull]
	rebase = true
[submodule]
	recurse = true
[gpg]
	format = ssh
[alias]
	lol = log --oneline --graph --decorate
    author-personal = config user.email "38427679+xVemu@users.noreply.github.com"