[user]
	name = Kamil Kras
	email = 38427679+xVemu@users.noreply.github.com
[core]
	autocrlf = true
	filemode = false
[commit]
	gpgsign = true
[push]
	followTags = true
	autoSetupRemote = true
[gpg]
	program = "C:/Program Files/Git/usr/bin/gpg.exe"
[pull]
	rebase = true
[submodule]
	recurse = true
[alias]
	lol = log --oneline --graph --decorate
