[user]
	name = xVemu
	email = 38427679+xVemu@users.noreply.github.com
[core]
	autocrlf = input
	filemode = false
[commit]
	gpgsign = true
[push]
	followTags = true
	autoSetupRemote = true
[pull]
	rebase = true
[submodule]
	recurse = true
[alias]
	lol = log --oneline --graph --decorate
